

@using Kino.WebApp.Models;
@model ZanroviViewModel;
@using (Html.BeginForm("Snimi", "Zanrovi", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">DODAJ/UREDI</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">
                    @Html.HiddenFor(model => model.ZanrID)
                    <div class="form-group">
                        <label for="nazivFilma">Žanr:</label>
                        @Html.TextBoxFor(m => m.Naziv, new { @class = "form-control", @placeholder = "" })
                        @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })

                    </div>

                  
     
                    <div class="float-right">
                        <button type="submit" class="btn btn-success">Spremi</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
